.u-section-1 .u-sheet-1 {
    min-height: 710px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-text-1 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 19px 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 590px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-image-1 {
    margin-bottom: 0;
    margin-top: 0;
    height: 426px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 481px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 486px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 486px;
      background-position: 50% 50%;
    }
  
    .u-section-1 .u-image-1 {
      height: 351px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 367px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 372px;
    }
  
    .u-section-1 .u-image-1 {
      height: 269px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 653px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: auto;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 558px;
    }
  
    .u-section-1 .u-image-1 {
      height: 404px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 446px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 351px;
    }
  
    .u-section-1 .u-image-1 {
      height: 254px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 499px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 407px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 29px 60px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin: 77px 74px 0 393px;
  }
  
  .u-section-2 .u-text-2 {
    margin: -96px 687px 0 74px;
  }
  
  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    border-style: none none solid;
    text-transform: uppercase;
    font-weight: 700;
    margin: -38px auto 0 393px;
    padding: 7px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 750px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 315px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: -1px;
      margin-left: 268px;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 561px;
    }
  
    .u-section-2 .u-btn-1 {
      height: 38px;
      width: 99px;
      margin-left: 193px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 108px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 401px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 33px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1780px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 261px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-2 {
      margin-right: 61px;
    }
  }